<footer class="text-center text-white">
    <div class="text-center text-dark p-3">
      © 2024 Copyright:
      <a class="text-dark" href="https://rsvpdigital.com.mx/">RSVPDIGITAL</a>
      <!-- Facebook -->
      <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="#!"
      role="button"
      data-mdb-ripple-color="dark"
      ><img src="assets/icons/facebook.svg">
    </a>
    <!-- Twitter -->
    <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="#!"
      role="button"
      data-mdb-ripple-color="dark"
      ><img src="assets/icons/twitter.svg">
    </a>

    <!-- Google -->
    <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="#!"
      role="button"
      data-mdb-ripple-color="dark"
      ><img src="assets/icons/google.svg">
    </a>

    <!-- Instagram -->
    <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="#!"
      role="button"
      data-mdb-ripple-color="dark"
      ><img src="assets/icons/instagram.svg">
    </a>

    <!-- Linkedin -->
    <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="#!"
      role="button"
      data-mdb-ripple-color="dark"
      ><img src="assets/icons/linkedin.svg">
    </a>
    <!-- Github -->
    <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="#!"
      role="button"
      data-mdb-ripple-color="dark"
      ><img src="assets/icons/credit-card.svg">
    </a>
  </div>
</footer>